*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	transition: .25s;
}

:root{
	--theme: #333;
	--text: #EEE;
	--solid: #4091FF;
}

html{
	background: var(--theme);
	color: var(--text);
	font-family: "Ubuntu", sans-serif
}

header{
	background: var(--solid);
	padding: .5rem;
}

button{
	appearance: none;
	padding: .75rem;
	border: 0;
}

#info{
	text-align: center;
	padding: 1rem;
}

#text_wrap{
	padding: 1rem;
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: center;
}

#text{
	appearance: none;
	background: transparent;
	border: 1.5px solid;
	border-radius: .5rem;
	width: 90%;
	resize: none;
	padding: .5rem;
	font-family: "Ubuntu", sans-serif;
}

textarea:disabled {
	background: transparent;
	color: var(--text);
}

#record_btn_wrap{
	position: fixed;
	bottom: 2rem;
	width: 100%;
	margin: auto;
	padding: .5rem;
	display: flex;
	justify-content: space-around;
}

#record_btn_wrap button{
	width: 4rem;
	height: 4rem;
	font-size: 3rem;
	border-radius: 50%;
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
}

#record_btn{
	color: #1CB40C;
}

#stop_btn{
	color: #F10;
}

#record_btn:disabled, #stop_btn:disabled {
	color: #CCC;
}

#modalbg{
	padding: 1rem;
	padding-top: 5rem;
	position: fixed;
	background: #6667;
	top: 0;
	bottom: 0;
	width: 100%;
	margin: auto;
	backdrop-filter: blur(.1rem);
	display: none;
}

#modal{
	padding: 1rem;
	background: var(--theme);
	width: 85%;
	margin: auto;
	border-radius: .5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#status_icon{
	width: 5rem;
	height: 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	font-size: 5rem;
	padding: 3rem;
}

#status_text{
	padding: 1rem;
	margin-top: 1rem;
	text-align: center;
}