*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	transition: .25s;
}

:root{
	--theme: #333;
	--text: #EEE;
	--solid: #4091FF;
}

html{
	background: var(--theme);
	color: var(--text);
	font-family: "Ubuntu", sans-serif;
	user-select: none;
	user-zoom: none;
}

@keyframes pulse{
	from{
		box-shadow: 0 0 0 4px #CCC;
	}
	to{
		box-shadow: 0;
	}
}

header{
	background: var(--solid);
	padding: .5rem;
}

button{
	appearance: none;
	padding: .75rem;
	border: 0;
	cursor: pointer;
	font-family: "Ubuntu", sans-serif
}

#info{
	text-align: center;
	padding: 1rem;
}

#text_wrap{
	padding: 1rem;
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: center;
}

#text{
	appearance: none;
	background: transparent;
	border: 1.5px solid;
	border-radius: .5rem;
	width: 90%;
	resize: none;
	padding: .5rem;
	font-family: "Ubuntu", sans-serif;
	font-size: 1rem;
	user-select: none;
	color: var(--text);
	background: transparent;
}

textarea:disabled {
	background: transparent;
	color: var(--text);
}

textarea:disabled::placeholder{
	color: #DDD;
}

#record_btn_wrap{
	position: fixed;
	bottom: 2rem;
	width: 100%;
	margin: auto;
	padding: .5rem;
	display: flex;
	justify-content: space-around;
}

#record_btn_wrap button{
	width: 4rem;
	height: 4rem;
	font-size: 2.5rem;
	border-radius: 50%;
	background: var(--text);
	display: flex;
	justify-content: center;
	align-items: center;
}

#record_btn{
	color: #1CB40C;
}

#stop_btn{
	color: #F10;
}

#record_btn:disabled, #stop_btn:disabled {
	color: #ddd;
	background: #777;
}

#modalbg{
	padding: 1rem;
	padding-top: 5rem;
	position: fixed;
	background: #6667;
	top: 0;
	bottom: 0;
	width: 100%;
	margin: auto;
	backdrop-filter: blur(.1rem);
	display: none;
}

#modal{
	padding: 1rem;
	background: var(--theme);
	width: 85%;
	margin: auto;
	border-radius: .5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#status_icon{
	width: 5rem;
	height: 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	font-size: 5rem;
	padding: 3rem;
	animation-name: pulse;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

#status_text{
	padding: 1rem;
	margin-top: 1rem;
	text-align: center;
	font-size: 1.5rem;
}

#actions{
	display: none;
}

#actions ul{
	display: flex;
	padding: .75rem;
	width: 90%;
	margin: auto;
	justify-content: space-around;
}

#actions ul li button{
	width: 3rem;
	height: 3rem;
	border-radius: 1rem;
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.75rem;
	background: transparent;
	color: var(--text);
}

#actions ul li button:not(button#del){
	font-weight: 300
}

#actions ul li button:focus{
	background: #eee;
	color: #333;
}

audio{
	display: none;
}

#audio button{
	display: block;
}

#audio_actions{
	padding: .5rem;
	justify-content: space-between;
	display: none;
}

#play{
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	font-size: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

#playbackspeed{
	border-radius: .5rem;
	font-size: 1rem
}

:disabled{
	color: #DDD;
}